
<mat-card>
    <!-- <p class="text-center">login works!</p> -->

  <form action="">

    <label>Family Name</label><br>
    <input type="text"><br>

    <label>Caste</label><br>
    <input type="text"><br>

    <label>Name</label><br>
    <input type="text"><br>
    
    <label>Select</label><br>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button name="option" value="Children" (click)="setradio('Children')" ngModel>Children</mat-radio-button>&nbsp;
        <mat-radio-button name="option" value="Male"  (click)="setradio('Male')" ngModel>Male</mat-radio-button>&nbsp;
        <mat-radio-button  name="option" value="Female"  (click)="setradio('Female')" ngModel>Female</mat-radio-button>
      </mat-radio-group>
    
      <div *ngIf="isSelected('Children')" >  
          <label>Father Name</label><br>
        <input type="text"/>  <br>
        <label>Mother Name</label><br>
        <input type="text"/>  
      </div> 
      <div *ngIf="isSelected('Male')" > 
          <label>Wife Name</label> <br>
        <input type="text"/> 
      </div>  
     
      <div *ngIf="isSelected('Female')">  
        <label>Husband Name</label><br>
         <input type="text"/> 
      </div> 

      <br>
        <button mat-raised-button  color="primary">Submit</button>
    </form>    

</mat-card>