<div class="container">
    <div  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
        <form *ngFor="let obj of dataArray">
           
                <mat-form-field appearance="outline">
                    <mat-label>Code</mat-label>
                    <input matInput placeholder="Code" name="code" >
                </mat-form-field>
             
            <mat-form-field appearance="outline">
                <mat-label>Product Name</mat-label>
                <input matInput placeholder="Product Name" name="productName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Quantity</mat-label>
                <input matInput placeholder="Quantity" name="quantity" >
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput placeholder="Price" name="price" >
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Total</mat-label>
                <input matInput placeholder="Total" name="total" >
            </mat-form-field>
    
            <button mat-raised-button (click)="addForm()" color="primary">+</button>
            <span>
                <button mat-raised-button  (click)="removeForm()"  color="warn">-</button>
            </span>
        </form>
    </div>
</div>
